# dependencies
node_modules/

# next.js build output
.next/
out/

# environment variables - never commit real secrets
.env
.env*.local

# prisma
prisma/*.db

# misc
.DS_Store
*.pem
npm-debug.log*

.vercel
